<div class="remodal" data-remodal-id="modal-admin-addon-media-rename" data-remodal-options="hashTracking: false">
  <form method="post" onsubmit='return false;'>
    {% for field in fields %}
      {% if field.type %}
        {% set value = data.value(field.name) %}
        <div class="block block-{{field.type}}">
          {% include ["forms/fields/#{field.type}/#{field.type}.html.twig", 'forms/fields/text/text.html.twig'] %}
        </div>
      {% endif %}
    {% endfor %}

    <div class="block page-media-info hidden">
      <div class="form-field grid">{{ "PLUGIN_ADMIN_ADDON_MEDIA_RENAME.PAGE_MEDIA_INFO"|t }}</div>
    </div>

    <div class="block non-page-media-info hidden">
      <div class="form-field grid">{{ "PLUGIN_ADMIN_ADDON_MEDIA_RENAME.NON_PAGE_MEDIA_INFO"|t }}</div>
    </div>

    <div class="button-bar">
      <div class="loading">
        {{ "PLUGIN_ADMIN_ADDON_MEDIA_RENAME.RENAMING"|t }}... <i class="fa fa-spinner fa-spin"></i>
      </div>

      <button class="button primary" style="visibility: hidden">{{ "PLUGIN_ADMIN.CONTINUE"|tu }}</button>
    </div>
  </form>
</div>

<div class="remodal" data-remodal-id="modal-admin-addon-media-rename-alert" data-remodal-options="hashTracking: false">
  <form method="post" onsubmit='return false;'>
    <h1>{{ "PLUGIN_ADMIN_ADDON_MEDIA_RENAME.RENAME_FAILED"|t }}</h1>
    <p class="bigger"></p>
    <div class="button-bar">
        <button data-remodal-action="confirm" class="button primary">{{ "PLUGIN_ADMIN.CONTINUE"|tu }}</button>
    </div>
  </form>
</div>